
:root{
    --primary:#D81E5B;
    --secondary:#8A4EFC;
    --light:#EEE;
    --dark:#131A26;
    --dark-alt:#202B3E;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Fire Sans","sans-serif";
}

body{
    background-color:var(--dark-alt);
    color:var(--light);
}

.App{
    padding:32px;
}

.h1{
    font-size:31px;
    font-weight:700;
    margin-bottom:32px;
}

.h4{
    font-size:18px;
    color:var(--light-alt);
    text-transform:uppercase;
    font: weight 400px;
    margin-bottom:16px;
}


.todo{
    position:relative;
    background-color:var(--dark);
    padding:16px;
    border-radius:16px;
    display:flex;
    align-items:center;
    cursor:pointer;
    transition:0.5s;
    margin-bottom:16px;
}
.todo:hover{
    opacity:0.8;
}

.todo.checkbox{
    width:20px;
    height:20px;
    margin-right:16px;
    border-radius:999px;
    background-color:var(--dark-alt);
    transition:0.4s
}

.todo.is-complete .checkbox{
    background-color:var(--primary);
    background-image:linear-gradient(to bottom, var(--primary),var(--secondary));

}

.todo .text{
    font-size:20px;

}

.todo.is-complete .text{
    text-decoration:line-through;
}

.todo .delete-todo{
    position:absolute;
    top:50%;
    right:16px;
    transform:translateY(-50%);
    width:24px;
    height:24px;
    color:var(--light);
    background-color:red;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;
}

.addpopup{
    position:fixed;
    bottom:32px;
    right:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:64px;
    width:64px;
    font-weight:900;
    font-size:20px;
    border-radius:999;
    color:var(--light);
    background-image:linear-gradient(to bottom right, var(--primary),var(--secondary));
    cursor:pointer;
}

.popup{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width:100%;
    max-width:400px;
    background-color:var(--light);
    border-radius:15px;
    box-shadow:0px 3px 24px var(--dark);
    padding:32px;

}

.closepopup{

    position:absolute;
    top:16px;
    width:20px;
    right:16px;
    font-size:20px;
    cursor:pointer;
    color:var(--dark);
    height:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--primary);
    border-radius:50%;
}

.addinput{
    appearance:none;
    border:none;
    outline:none;
    background-color:white;
    padding:16px;
    border-radius:16px;
    box-shadow: 0px 2px 24px rgba(0,0,0,0.2);
    width:100%;
    font-size:20px;
}

.button{
    padding:16px 32px;
    border-radius:99px;
    background-image:linear-gradient(to right, var(--primary) var(--secondary));
    font-weight:700;
    text-transform:uppercase;
    font-size:18px;
    text-align:center;
    cursor:pointer;
    margin-top:16px;

}

